name: noop run

on:
  workflow_dispatch: {}
  pull_request: {}
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  unit:
    runs-on: ubuntu-latest
    name: Run msync --noop against all modules
    steps:
      - uses: actions/checkout@v6

      - name: Setup ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.7
          bundler-cache: true

      - name: Run msync --noop
        run: bundle exec msync update --noop --git-base=https://github.com/
